<html>
    <head>
        <meta charset="UTF-8">
        <title>Monopoly</title>
        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="styles/color.css">
        <link rel="stylesheet" href="styles/game.css">
    </head>
    <body>
    <div class="table">
        <div class="game__board">
            <div class="center__container">
                <h1 class="center__container__title">MONOPOLY</h1>
            </div>

            <div class="cell corner go"></div>

            <div class="row horizontal__row bottom__row">
                <div class="cell business">
                    <div class="cell__container">
                        <div class="color__bar light-blue"></div>
                        <div class="business__name">Connecticut Avenue</div>
                        <div class="price">PRICE $120</div>
                    </div>
                </div>
                <div class="cell business">
                    <div class="cell__container">
                        <div class="color__bar light-blue"></div>
                        <div class="business__name">Vermont Avenue</div>
                        <div class="price">Price $100</div>
                    </div>
                </div>
                <div class="cell chance">
                    <div class="cell__container">
                        <div class="business__name">Chance</div>
                    </div>
                </div>
                <div class="cell business">
                    <div class="cell__container">
                        <div class="color__bar light-blue"></div>
                        <div class="business__name">Oriental Avenue</div>
                        <div class="price">Price $100</div>
                    </div>
                </div>
                <div class="cell railroad">
                    <div class="cell__container">
                        <div class="business__name">Reading Railroad</div>
                        <div class="price">Price $200</div>
                    </div>
                </div>
                <div class="cell tax">
                    <div class="cell__container">
                        <div class="business__name">Income Tax</div>
                        <div class="event__name">Pay $200</div>
                    </div>
                </div>
                <div class="cell business">
                    <div class="cell__container">
                        <div class="color__bar dark-purple"></div>
                        <div class="business__name">Baltic Avenue</div>
                        <div class="price">Price $50</div>
                    </div>
                </div>
                <div class="cell chance">
                    <div class="cell__container">
                        <div class="business__name">Chance</div>
                    </div>
                </div>
                <div class="cell business">
                    <div class="cell__container">
                        <div class="color__bar dark-purple"></div>
                        <div class="business__name">Mediter-ranean Avenue</div>
                        <div class="price">Price $50</div>
                    </div>
                </div>
            </div>

            <div class="cell corner jail"></div>

            <div class="row vertical__row left__row">
                <div class="cell business">
                    <div class="cell__container">
                        <div class="color__bar orange"></div>
                        <div class="business__name">New York Avenue</div>
                        <div class="price">Price $200</div>
                    </div>
                </div>
                <div class="cell business">
                    <div class="cell__container">
                        <div class="color__bar orange"></div>
                        <div class="business__name">Tennessee Avenue</div>
                        <div class="price">Price $180</div>
                    </div>
                </div>
                <div class="cell chance">
                    <div class="cell__container">
                        <div class="business__name">Chance</div>
                    </div>
                </div>
                <div class="cell business">
                    <div class="cell__container">
                        <div class="color__bar orange"></div>
                        <div class="business__name">St. James Avenue</div>
                        <div class="price">Price $180</div>
                    </div>
                </div>
                <div class="cell railroad">
                    <div class="cell__container">
                        <div class="business__name">Pennsylvania Railroad</div>
                        <div class="price">Price $200</div>
                    </div>
                </div>
                <div class="cell business">
                    <div class="cell__container">
                        <div class="color__bar purple"></div>
                        <div class="business__name">Virginia Avenue</div>
                        <div class="price">Price $160</div>
                    </div>
                </div>
                <div class="cell business">
                    <div class="cell__container">
                        <div class="color__bar purple"></div>
                        <div class="business__name">States Avenue</div>
                        <div class="price">Price $140</div>
                    </div>
                </div>
                <div class="cell casino">
                    <div class="cell__container">
                        <div class="business__name">Casino Avenue</div>
                        <div class="price">Price $150</div>
                    </div>
                </div>
                <div class="cell business">
                    <div class="cell__container">
                        <div class="color__bar purple"></div>
                        <div class="business__name">St. Charles Place</div>
                        <div class="price">Price $140</div>
                    </div>
                </div>
            </div>

            <div class="cell corner free-parking"></div>

            <div class="row horizontal__row top__row">
                <div class="cell business">
                    <div class="cell__container">
                        <div class="color__bar red"></div>
                        <div class="business__name">Kentucky Avenue</div>
                        <div class="price">Price $220</div>
                    </div>
                </div>
                <div class="cell chance">
                    <div class="cell__container">
                        <div class="business__name">Chance</div>
                    </div>
                </div>
                <div class="cell business">
                    <div class="cell__container">
                        <div class="color__bar red"></div>
                        <div class="business__name">Indiana Avenue</div>
                        <div class="price">Price $220</div>
                    </div>
                </div>
                <div class="cell business">
                    <div class="cell__container">
                        <div class="color__bar red"></div>
                        <div class="business__name">Illinois Avenue</div>
                        <div class="price">Price $200</div>
                    </div>
                </div>
                <div class="cell railroad">
                    <div class="cell__container">
                        <div class="business__name">B & O Railroad</div>
                        <div class="price">Price $200</div>
                    </div>
                </div>
                <div class="cell business">
                    <div class="cell__container">
                        <div class="color__bar yellow"></div>
                        <div class="business__name">Atlantic Avenue</div>
                        <div class="price">Price $260</div>
                    </div>
                </div>
                <div class="cell business">
                    <div class="cell__container">
                        <div class="color__bar yellow"></div>
                        <div class="business__name">Ventnor Avenue</div>
                        <div class="price">Price $260</div>
                    </div>
                </div>
                <div class="cell casino">
                    <div class="cell__container">
                        <div class="business__name">Casino 777</div>
                        <div class="price">Price $120</div>
                    </div>
                </div>
                <div class="cell business">
                    <div class="cell__container">
                        <div class="color__bar yellow"></div>
                        <div class="business__name">Marvin Gardens</div>
                        <div class="price">Price $280</div>
                    </div>
                </div>
            </div>

            <div class="cell corner go-to-jail"></div>

            <div class="row vertical__row right__row">
                <div class="cell business">
                    <div class="cell__container">
                        <div class="color__bar green"></div>
                        <div class="business__name">Pacific Avenue</div>
                        <div class="price">Price $300</div>
                    </div>
                </div>
                <div class="cell business">
                    <div class="cell__container">
                        <div class="color__bar green"></div>
                        <div class="business__name">North Carolina Avenue</div>
                        <div class="price">Price $300</div>
                    </div>
                </div>
                <div class="cell chance">
                    <div class="cell__container">
                        <div class="business__name">Chance</div>
                    </div>
                </div>
                <div class="cell business">
                    <div class="cell__container">
                        <div class="color__bar green"></div>
                        <div class="business__name">Pennsylvania Avenue</div>
                        <div class="price">Price $320</div>
                    </div>
                </div>
                <div class="cell railroad">
                    <div class="cell__container">
                        <div class="business__name">Short Line</div>
                        <div class="price">Price $200</div>
                    </div>
                </div>
                <div class="cell chance">
                    <div class="cell__container">
                        <div class="business__name">Chance</div>
                    </div>
                </div>
                <div class="cell business">
                    <div class="cell__container">
                        <div class="color__bar dark-blue"></div>
                        <div class="business__name">Park Place</div>
                        <div class="price">Price $350</div>
                    </div>
                </div>
                <div class="cell tax">
                    <div class="cell__container">
                        <div class="business__name">Luxury Tax</div>
                        <div class="event__name">Pay $75.00</div>
                    </div>
                </div>
                <div class="cell business">
                    <div class="cell__container">
                        <div class="color__bar dark-blue"></div>
                        <div class="business__name">Boardwalk</div>
                        <div class="price">Price $400</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>