.dark-purple {
    background: #5e3577;
}

.light-blue {
    background: #d2eaf5;
}

.purple {
    background: #b02f7c;
}

.orange {
    background: #fa811d;
}

.red {
    background: #f50c2b;
}

.yellow {
    background: #ffed20;
}

.green {
    background: #41994e;
}

.dark-blue {
    background: #5a6dba;
}